$colors: (
        inputLabel : #000046,
        inputBorder: #1CB5E0,
        primary1 : #f12711,
        primary2 : #f5af19,
        secondary1 : #1CB5E0,
        secondary2: #000046
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
